<template>
  <div>
    <h5>Angular</h5>
    <p>Angular (commonly referred to as "Angular 2+" or "Angular v2 and above")[4][5] is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>        
    <div>
      <h4>Event Handler</h4>

      <div style="padding-top:10px; padding-bottom:20px;">
        <p>[(ngModel)]="username"</p>
        <p>*ngFor="let item of allproduct"</p>
        <p>*ngIf="username"</p>
        <p>(change)="onchange($event)"</p>
        <p>(click)="submitbtn()"</p>
        <p>(keydown)="keydown($event)"</p>
        <p>(keyup)="keyup($event)"</p>
        <p>[ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }"</p>
        <p>[ngClass]="isActive ? 'activecalss' : 'inactiveclass'"</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {}
};
</script>