<template>
  <div>
    <h5>Deploy & hosting</h5>
    <p>
      <b>Introduction to Deploy</b>
    </p>

    <button
      type="button"
      class="btn btn-info"
      data-toggle="collapse"
      data-target="#Node"
    >Node Deploy</button>
    <div id="Node" style="margin-top: 15px;" class="collapse">
      **********************************************
      <br />**********Install NodeJs in Linux**********
      <br />**********************************************
      <br />//follow link
      <br />https://www.digitalocean.com/community/questions/setting-up-multiple-nodejs-applications-using-nginx-vitual-hosts
      <br />#1 sudo apt-get update
      <br />#2 sudo apt-get install build-essential libssl-dev
      <br />#3 curl https://raw.githubusercontent.com/creationix/nvm/v0.34.0/install.sh | bash
      <br />#4 source ~/.profile
      <br />
      <br />//Install nodeJs in linux
      <br />#5 nvm install node
      <br />
      <br />//Install Git
      <br />#6 sudo apt-get install git
      <br />
      <br />#7 git clone https://github.com/vishal1145/VishNode.git
      <br />
      <br />//Install nginx
      <br />#8 sudo apt-get install nginx
      <br />#9 sudo nano /etc/nginx/proxy_params
      <br />
      <br />//After write the following code under "sudo nano /etc/nginx/proxy_params"
      <br />
      <br />
      <p>
        proxy_buffers 16 32k;
        <br />proxy_buffer_size 64k;
        <br />proxy_busy_buffers_size 128k;
        <br />proxy_cache_bypass $http_pragma $http_authorization;
        <br />proxy_connect_timeout 59s;
        <br />proxy_hide_header X-Powered-By;
        <br />proxy_http_version 1.1;
        <br />proxy_ignore_headers Cache-Control Expires;
        <br />proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504 http_404;
        <br />proxy_no_cache $http_pragma $http_authorization;
        <br />proxy_pass_header Set-Cookie;
        <br />proxy_read_timeout 600;
        <br />proxy_redirect off;
        <br />proxy_send_timeout 600;
        <br />proxy_temp_file_write_size 64k;
        <br />proxy_set_header Accept-Encoding '';
        <br />proxy_set_header Cookie $http_cookie;
        <br />proxy_set_header Host $host;
        <br />proxy_set_header Proxy '';
        <br />proxy_set_header Referer $http_referer;
        <br />proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        <br />proxy_set_header X-Forwarded-Host $host;
        <br />proxy_set_header X-Forwarded-Server $host;
        <br />proxy_set_header X-Real-IP $remote_addr;
        <br />proxy_set_header X-Forwarded-Proto $scheme;
        <br />proxy_set_header X-Original-Request $request_uri;
      </p>#10 cd /etc/nginx/sites-enabled/
      <br />/etc/nginx/sites-enabled/ls
      <br />default
      <br />sudo nano default
      <br />//than write the following code under "sudo nano default"
      <br />
      <br />

      <p>
        server
        <br />{
        <br />listen 80;
        <br />listen [::]:80;
        <br />server_name vishwajeet-the-developer.tk;
        <br />location /
        <br />{
        <br />proxy_pass http://127.0.0.1:3000;
        <br />include /etc/nginx/proxy_params;
        <br />}
        <br />}
        <br />
        <br />
      </p>#11 - Restart nginx server
      <p>
        sudo service nginx stop
        <br />sudo service nginx start
      </p>      
      //install pm2
      <br />#12 npm install -g pm2
      <br /># pm2 start app.js --name "nodejs app"
      <br />//How to save pm2
      <br />pm2 save
      <br /># How to check node version
      <br />node -v
      <br /># How to rename file in linux
      <br />old file name htmlpage.txt new file name htmlpage.html
      <br />mv htmlpage.txt htmlpage.html
      <br />
      <br />
      <br />***********************************************************************************
      <br />********************How to create Repositories on git hub.*********************
      <br />
      <br />~ login on github after login you need to do these following steps.
      <br />~ Click on the 'New' than fille all given information.
      <br />~ Copy git clone file. as "https://github.com/vishwajeet/vishhmtl.git"
      <br />~ Create folder under in your our device i.e C drive / D drive etc.
      <br />~ After create folder open cmd write the following code.
      <br />git clone https://github.com/vishwajeet/vishhmtl.git
      <br />"https://github.com/vishwajeet/vishhmtl.git" this is your Repository name on GitHub.
      <br />~ After go to Google Cloud
      <br />you will do 'ls' than you see your file name.
      <br />
      <br /># remove folder from linux
      <br />sudo rm -rf Vishwajeet
      <br /># remove file from linux
      <br />sudo rm -r recmonitor.conf
      <br /># Show current location on linux
      <br />pwd
      <br /># How to deploy application by seprate name without write code on the default applicaiton mapping follow these steps.
      <br />/etc/nginx/sites-enabled$ sudo nano recmonitor.conf
      <br />after open nano file than write this following code.i.e
      <br />server {
      <br />//your code
      <br />}
      <br /># How to check status of API
      <br />http://api.recmonitor.tk/ping/status
      <br /># How to delete pm2 cell
      <br />pm2 delete 1
      <br /># How to check the version of ubuntu
      <br />lsb_release -a
      <br />https://pm2.keymetrics.io/docs/usage/quick-start/
      <br /> <br />
      # How to give permission on the server.
      <p>
        sudo chmod -R 777 server
      </p>
    </div>
    <br />
    <button
      type="button"
      class="btn btn-info"
      data-toggle="collapse"
      data-target="#Static"
    >Static Page</button>
    <div id="Static" style="margin-top: 15px;" class="collapse">
      Deploy Static Page on server
      <br />https://github.com/vishal1145/vishhtmldeploye.git
      <br />//Install Git
      <br />
      <br />#1 sudo apt-get install git
      <br />//Install nginx
      <br />#2 sudo apt-get install nginx
      <br />#3 git clone https://github.com/vishal1145/Vishhtmldeploy.git
      <br />#4 cd /etc/nginx/sites-enabled
      <br />/etc/nginx/sites-enabled/ ls
      <br />default
      <br />sudo nano deploy.conf
      <br />
      <br />//than write the following code under "sudo nano default"
      <br />//application mapping
      <br />
      <p>server {
      <br />listen 80;
      <br />listen [::]:80;
      <br />root /home/services/vishhtmldeploye;
      <br />index index.html;
      <br />server_name vishwajeet-sharma.tk;
      <br />location / {
      <br />try_files $uri $uri/ /index.html;
      <br /> }
      <br />}
      </p>

      #5 - Restart nginx server
      <p>
      sudo service nginx stop
      <br />sudo service nginx start
      </p>     
      //install pm2 "No need it" if you are getting error than do this.
      <br />#6 npm install -g pm2
      <br /># pm2 start app.js --name "nodejs app"
      <br /># you can open site as example
      <br />http://vishwajeet-sharma.tk/htmlpage.html
      <br /># How to rename file in linux
      <br />Old file name htmlpage.txt new file name htmlpage.html
      <br />mv htmlpage.txt htmlpage.html
      <br />
      <br />
      <br />********************************************************************************
      <br />********************How to create Repositories on github.*********************
      <br />********************************************************************************
      <br />
      <br />~ login on github after login you need to do these following steps.
      <br />~ Click on the 'New' than fille all given information.
      <br />~ Copy git clone file. as "https://github.com/vishwajeet/vishhmtl.git"
      <br />~ Create folder under in your our device i.e C drive / D drive etc.
      <br />~ After create folder open cmd write the following code.
      <br />git clone https://github.com/vishwajeet/vishhmtl.git
      <br />"https://github.com/vishwajeet/vishhmtl.git" this is your Repository name on GitHub.
      <br />~ After go to Google Cloud instance
      <br />
      <br />Then show your all project in instance after do 'ls' than you will see your file name.
      <br />
      <br /># remove folder from linux
      <br />sudo rm -rf Vishwajeet
      <br /># remove file from linux
      <br />sudo rm -r recmonitor.conf
      <br /># Show current location on linux
      <br />pwd
      <br /># How to deploy application by separate name without writing code on the default application mapping follow these steps.
      <br />/etc/nginx/sites-enabled$ sudo nano recmonitor.conf
      <br />after open nano file than write this following code.i.e
      <br />server {
      <br />//your code}
      <br />
    </div>

    <br />
    <button
      type="button"
      class="btn btn-info"
      data-toggle="collapse"
      data-target="#dotnet"
    >Dot net core</button>
    <div id="dotnet" style="margin-top: 15px;" class="collapse">
      **********************************************
      <br />**********Install ASP.NET in Linux**********
      <br />**********************************************
      <br />#### Go to to your Project.sln inside the project open Startup.cs comment //app.UseHttpsRedirection(); this line then publish your project.
      <br />~ After publishing your application follow this step " before implementing you need to read all steps than implement " .
      <br />#1. wget -q https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
      <br />#2. sudo dpkg -i packages-microsoft-prod.deb
      <br />#3. sudo apt-get update
      <br />#4 sudo apt-get install apt-transport-https
      <br />#5 sudo apt-get update
      <br />#6 sudo apt-get install dotnet-sdk-2.1
      <br />//Install nginx
      <br />#7 sudo apt-get install nginx
      <br />#8 cd /etc/nginx/sites-enabled/
      <br />/etc/nginx/sites-enabled/ls
      <br />default
      sudo nano default
      <br />//than write the following code under "sudo nano default"
      <br />//application mapping
      <p> server {
      <br />listen 80;
      <br />server_name vishwajeet-the-developer.tk;
      <br />location / {
      <br />proxy_pass http://localhost:5000;
      <br />proxy_http_version 1.1;
      <br />proxy_set_header Upgrade $http_upgrade;
      <br />proxy_set_header Connection keep-alive;
      <br />proxy_set_header Host $host;
      <br />proxy_cache_bypass $http_upgrade;
      <br />proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      <br />proxy_set_header X-Forwarded-Proto $scheme;
      <br />}
      <br />}
      </p>
      #9 - Restart nginx server
      <p>
      sudo service nginx stop
      <br />sudo service nginx start
      </p>
      #10 Run the dotnet applProject.dll
      <br />dotnet empApp.dll
      <br />#11 Install pm2
      <br />npm install -g pm2
      <br />#11 Strat pm2 only first time.
      <br />pm2 start "dotnet DeployASPCore.dll" --name testwebapi
      <br />//Install Git
      <br />#12 sudo apt-get install git
      <br /># How to run dotnet Application
      <br />dotnet empApp.dll
      <br />//empApp.dll is your publish Application name
      <br /># Check Information on our environment in linux.
      <br />dotnet --inf
      <br />
      <br />***********************************************************************************
      <br />********************How to create Repositories on github.*********************
      <br />
      <br />~ login on github after login you need to do these following steps.
      <br />~ Click on the 'New' than fille all given information.
      <br />~ Copy git clone file. as "https://github.com/vishwajeet/vishhmtl.git"
      <br />~ Create folder under in your our device i.e C drive / D drive etc.
      <br />~ After create folder open cmd write the following code.
      <br />git clone https://github.com/vishwajeet/vishhmtl.git
      <br />"https://github.com/vishwajeet/vishhmtl.git" this is your Repository name on GitHub.
      <br />~ After go to Google Cloud
      <br />you will do 'ls' than you see your file name.
      <br />
      <br /># How to rename file on linux
      <br />mv htmlpage.txt htmlpage.html
      <br />old file name htmlpage.txt new file name htmlpage.html
      <br /># remove folder from linux
      <br />sudo rm -rf Vishwajeet
      <br /># remove file from linux
      <br />sudo rm -r recmonitor.conf
      <br /># Show current location on linux
      <br />pwd
      <br /># How to deploy application by separate name without writing code on the default application mapping follow these steps.
      <br />/etc/nginx/sites-enabled$ sudo nano recmonitor.conf
      <br />after open nano file than write this following code.i.e
      <br />server {
      <br />//your code
      <br />}
      <br />If you receive an error message similar to Unable to locate package aspnetcore-runtime-2.2=2.2.0-1, run the following commands.
      <br />#1 sudo dpkg --purge packages-microsoft-prod && sudo dpkg -i packages-microsoft-prod.deb
      <br />#2 sudo apt-get update
      <br />#3 sudo apt-get install aspnetcore-runtime-2.2=2.2.0-1
      <br />end
      <br />If that doesn't work, you can run a manual install with the following command
      <br />#1 sudo apt-get install -y gpg
      <br />#2 wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.asc.gpg
      <br />#3 sudo mv microsoft.asc.gpg /etc/apt/trusted.gpg.d/
      <br />#4 wget -q https://packages.microsoft.com/config/ubuntu/18.04/prod.list
      <br />#5 sudo mv prod.list /etc/apt/sources.list.d/microsoft-prod.list
      <br />#6 sudo chown root:root /etc/apt/trusted.gpg.d/microsoft.asc.gpg
      <br />#7 sudo chown root:root /etc/apt/sources.list.d/microsoft-prod.list
      <br />#8 sudo apt-get install -y apt-transport-https
      <br />#9 sudo apt-get update
      <br />#10 sudo apt-get install aspnetcore-runtime-2.2=2.2.0-1
      <br />
    </div>

    <br />
    <button
      type="button"
      class="btn btn-info"
      data-toggle="collapse"
      data-target="#SSlHTTPS"
    >SSl & HTTPS</button>
    <div id="SSlHTTPS" style="margin-top: 15px;" class="collapse">
      *******************************************
      <br />*******Deploy SSL for security*******
      <br />*******************************************
      <br />
      <br />//follow this one
      <br />https://certbot.eff.org/lets-encrypt/debianstretch-nginx
      <br />
      <br />#1 sudo apt-get update
      <br />#2 sudo apt-get install software-properties-common
      <br />#3 sudo add-apt-repository universe
      <br />#4 sudo add-apt-repository ppa:certbot/certbot
      <br />#5 sudo apt-get update
      <br />#6 sudo apt-get install certbot python-certbot-nginx
      <br />#7 sudo certbot certonly --nginx
      <br />
      <br />The Certbot packages on your system come with a cron job or systemd timer that will renew your certificates automatically before they expire. You will not need to run Certbot again, unless you change your configuration. You can test automatic renewal for your certificates by running this command:
      <br />#8 sudo certbot renew --dry-run
      <br />//After that run this command then we get all domain name on the display. Which domain name you will apply 'Enter you domain address' e.g
      <br />credit-helpline.tk
      <br />//After enter you domain address then you will get this type of data.
      <br />Select the appropriate numbers separated by commas and/or spaces, or leave input
      <br />blank to select all options shown (Enter 'c' to cancel): 1
      <br />Obtaining a new certificate
      <br />Performing the following challenges:
      <br />http-01 challenge for catogor.com
      <br />Waiting for verification...
      <br />Cleaning up challenges
      <br />
      <br />IMPORTANT NOTES:
      <br />- Congratulations! Your certificate and chain have been saved at:
      <br />/etc/letsencrypt/live/catogor.com/fullchain.pem
      <br />Your key file has been saved at:
      <br />/etc/letsencrypt/live/catogor.com/privkey.pem
      <br />Your cert will expire on 2020-02-17. To obtain a new or tweaked
      <br />version of this certificate in the future, simply run certbot
      <br />again. To non-interactively renew *all* of your certificates, run
      <br />"certbot renew"
      <br />- If you like Certbot, please consider supporting our work by:
      <br />Donating to ISRG / Let's Encrypt: https://letsencrypt.org/donate
      <br />Donating to EFF: https://eff.org/donate-le
      <br />
      <br />
      <br />//This one is old mapping on the server in .conf file
      <br />
      <br />server {
      <br />listen 80;
      <br />listen [::]:80;
      <br /># root /home/hosting/improvescore/web2/build;
      <br /># index index.html;
      <br />server_name credit-helpline.tk;
      <br />#location / {
      <br /># try_files $uri $uri/ /index.html;
      <br />#}
      <br />return 301 https://$host$request_uri;
      <br />}
      <br />
      <br />
      <br />//This is for https "New Code" we need to past in mappind place on these .conf file
      <br />
      <br />server {
      <br />root /home/hosting/improvescore/web2/build;
      <br />index index.html;
      <br />server_name credit-helpline.tk;
      <br />location / {
      <br />try_files $uri $uri/ /index.html;
      <br />}
      <br />listen [::]:443 ssl ipv6only=on; # managed by Certbot
      <br />listen 443 ssl; # managed by Certbot
      <br />ssl_certificate /etc/letsencrypt/live/catogor.com/fullchain.pem; # managed by Certbot
      <br />ssl_certificate_key /etc/letsencrypt/live/catogor.com/privkey.pem; # managed by Certbot
      <br />include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
      <br />ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
      <br />}
      <br />
      <br />
    </div>
    <br />
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Python">Python</button>
    <div id="Python" style="margin-top: 15px;" class="collapse">
      Git
      #1 Show all branch in git
      git branch
      #2 Delete branch from git
      git branch -D brnachName
      #3 Switch branch
      git checkout branchName
    </div>
  </div>
</template>
<script>
export default {
  methods: {}
};
</script>

<style>
.btn {
  width: 100%;
  color: black;
  font-style: normal;
  border-color: #8bc34a;
  background-color: #9e9e9e21;
  cursor: pointer;
}
.btn-info:hover {
  color: #009688;
  background-color: #92c7551f;
  border-color: #92c75533;
}
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #009688;
  background-color: #97c95d4f;
  border-color: #91c6534f;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.1rem rgba(152, 201, 94, 0.78) !important;
}
</style>