<template>
  <div>
    <h5>C# DotNet</h5>
    <b>How to kill current application in C#</b>
    <p>
      private void Login_FormClosed(object sender, FormClosedEventArgs e)
      <br />{
      <br />Process.GetCurrentProcess().Kill();
      <br />}
      <br />
    </p>

    <p>regex in c#</p>

    <b>How to save automatically data while sundaly WindowsShutDown</b>
    <p>
      private void Projects_FormClosing(object sender, FormClosingEventArgs e)
      <br />{
      <br />if (e.CloseReason == CloseReason.UserClosing)
      <br />{
      <br />if (MessageBox.Show(AppMessages.exitProjectmessage, AppMessages.cnfMessage, MessageBoxButtons.YesNo) == DialogResult.Yes)
      <br />{
      <br />stopProjectTracking();
      <br />Application.ExitThread();
      <br />Application.Exit();
      <br />}
      <br />else
      <br />{
      <br />e.Cancel = true;
      <br />}
      <br />}
      <br />if (e.CloseReason == CloseReason.WindowsShutDown)
      <br />{
      <br />this.stopProjectTracking();
      <br />}
      <br />}
      <br />
    </p>

    <b>Use List of class</b>

    <p>
      <!-- public static List<DomainAppName> DomainNames = new List<DomainAppName>();<br/> -->
      <br />public class DomainAppName
      <br />{
      <br />
      public string AppName { get; set; }
      <br />
      public int AppCount { get; set; }
      <br />}
      <br />
      <br />
    </p>

    <b>Use Filter in List</b>
    <p>
      string getAppName = WindowCapture.GetCaptionOfActiveWindow();
      <br />
      <br />DomainAppName domainName = new DomainAppName();
      <br />domainName.AppName = getAppName;
      <br />
      <br />if (DomainNames.Count > 0)
      <br />{
      <br />var domainNameIndex = DomainNames.FindIndex(i => i.AppName == getAppName);
      <br />if (domainNameIndex > 0)
      <br />{
      <br />DomainNames[domainNameIndex].AppCount = DomainNames[domainNameIndex].AppCount + 1;
      <br />}
      <br />else
      <br />{
      <br />DomainNames.Add(domainName);
      <br />}
      <br />}
      <br />else
      <br />{
      <br />DomainNames.Add(domainName);
      <br />}
      <br />
    </p>
  </div>
</template>
<script>
export default {
  methods: {}
};
</script>