<style>
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
.nav-item {
  padding: 0rem 1rem;
  font-size: 14px;
}
</style>


<template>
  <div>
    <div style="background: #9e9e9e1f; height: 50px;"></div>
    
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background: white;">
      <a
        class="navbar-brand col-sm-3 col-md-2 mr-0"
        href="#"
        style="background-color: rgba(0, 0, 0, 0.06); color: #8BC34A;"
      >
        <strong>V-S</strong>
      </a>
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        aria-label="Search"
        style="width: 30%; border: 2px solid rgba(115, 173, 33, 0.25); border-radius: 10px;margin: auto auto auto 24%;"
      />
      <img
        src="https://cdn0.iconfinder.com/data/icons/yummy-pc/100/yummy-pc-43-512.png"
        style="height:25px; width:30px; vertical-align: bottom; cursor: pointer; margin-right: 2%;"
        data-toggle="modal"
        data-target="#myModal"
      /> &nbsp;
    </nav>

    <div class="container">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body" style="margin-bottom: -35px;">
              <div class="col-sm-9 col-md-7 col-lg-5" style="max-width: 100%; margin-top: -7%;">
                <div class="card card-signin my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <input
                      type="email"
                      id="inputEmail"
                      class="form-control"
                      placeholder="Email address"
                      required
                      autofocus
                    />
                    <br />
                    <input
                      type="password"
                      id="inputPassword"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                    <br />

                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1" />
                      <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                    <button
                      class="btn btn-lg btn-primary btn-block text-uppercase"
                      type="submit"
                    >Sign in</button>
                    <label style="margin-top: 9px; margin-bottom: 0px;">
                      Don't have an account?
                      <a href="#">Sign Up</a>
                    </label>
                    <hr class="my-4" />
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">
                      <i class="fab fa-google mr-2"></i> Sign in with Google
                    </button>
                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">
                      <i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <!-- Left Menu -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <!-- <li class="nav-item">
                <a class="nav-link active" href="#" style="color: #8BC34A;">
                  <span data-feather="home"></span>Topics
                  <span class="sr-only">(current)</span>
                </a>
              </li> -->
              <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
              >
                <span>.NET</span>
                <a class="d-flex align-items-center text-muted" href="#">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenDotNet()">C#.NET</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ASP.NET</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>.NET CORE
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ASP.NET MVC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenSQL_Page()">SQL</a>
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Saved</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenAngular_Page()">Angular</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenVueJS_Page()">Vue JS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenJavaScript_Page()">JavaScript</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenMongoDB_Page()">MongoDB</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" @click="OpenDeploy_Page()">Deploy & Hosting</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" @click="HowTo_Page()">How To</a>
              </li>
            </ul>
          </div>
        </nav>

        <!--Center Main -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"
          style="padding-top: 23px; max-width: 65.333333%;">

          <div style="text-align:justify">
            <app-Angular v-if="activeAngularPage"></app-Angular>
            <app-SQL v-if="activeSQLPage"></app-SQL>
            <app-MongoDB v-if="activeMongoDBPage"></app-MongoDB>
            <app-VueJs v-if="activeVuePage"></app-VueJs>
            <app-JavaScript v-if="activeJavaScript"></app-JavaScript>
            <app-Deploy v-if="activeDeploy"></app-Deploy>
            <app-DotNet v-if="activeDotNet"></app-DotNet>
            <how-to v-if="activHowTo"></how-to>
            
          </div>
        </main>

        <!--Right Menu -->
        <nav class="col-md-2">
          <!-- Deploy -->
          <ul class="nav flex-column mb-2" v-if="activeDeploy">
            <li class="nav-item">
              <a class="nav-link" href="#">Node.Js Deploye</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Static Page Deploy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Asp.net core deploy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Python</a>
            </li>
          </ul>
          <!-- JavaScript -->
          <ul class="nav flex-column mb-2" v-if="activeJavaScript">
            <li class="nav-item">
              <a class="nav-link" href="#">Callback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">async</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">await</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">How to</a>
            </li>
          </ul>
          <!-- SQL -->
          <ul class="nav flex-column mb-2" v-if="activeSQLPage">
            <li class="nav-item">
              <a class="nav-link" href="#" @click="SqlTopic(0)">Join</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" @click="SqlTopic(1)">Sub-Query</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" @click="SqlTopic(2)">Union</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import Angular from "./Angular";
import SQL from "./SQL";
import MongoDB from "./MongoDB";
import VueJs from "./VueJs";
import JavaScript from "./JavaScript.vue";
import Deploy from "./Deploy";
import DotNet from "./DotNet";
import HowTo from "./Howto";

export default {
  components: {
    "app-Angular": Angular,
    "app-SQL": SQL,
    "app-MongoDB": MongoDB,
    "app-VueJs": VueJs,
    "app-JavaScript": JavaScript,
    "app-Deploy": Deploy,
    "app-DotNet": DotNet,
    "how-to": HowTo
  },
  data() {
    return {
      name: "app",
      activeAngularPage: false,
      activeVuePage: false,
      activeMongoDBPage: false,
      activeSQLPage: false,
      activeJavaScript: false,
      activeDeploy: false,
      activeDotNet: false,
      activHowTo: false
    };
  },
  methods: {
    OpenDotNet() {
      this.activeDotNet = true;
      (this.activeAngularPage = false),
      (this.activeVuePage = false),
      (this.activeMongoDBPage = false),
      (this.activeSQLPage = false),
      (this.activeJavaScript = false),
      (this.activHowTo = false),
      (this.activeDeploy = false);
    },
    OpenAngular_Page() {
      (this.activeAngularPage = true),
      (this.activeVuePage = false),
      (this.activeMongoDBPage = false),
      (this.activeSQLPage = false),
      (this.activeJavaScript = false),
      (this.activeDeploy = false),
      (this.activHowTo = false),
      (this.activeDotNet = false);
    },
    OpenSQL_Page() {
      (this.activeSQLPage = true),
      (this.activeVuePage = false),
      (this.activeMongoDBPage = false),
      (this.activeAngularPage = false),
      (this.activeJavaScript = false),
      (this.activeDotNet = false),
      (this.activHowTo = false),
      (this.activeDeploy = false);
    },
    OpenJavaScript_Page() {
      (this.activeJavaScript = true),
      (this.activeSQLPage = false),
      (this.activeVuePage = false),
      (this.activeMongoDBPage = false),
      (this.activeAngularPage = false),
      (this.activeDotNet = false),
      (this.activHowTo = false),
      (this.activeDeploy = false);
    },
    OpenMongoDB_Page() {
      (this.activeMongoDBPage = true),
      (this.activeVuePage = false),
      (this.activeSQLPage = false),
      (this.activeJavaScript = false),
      (this.activeAngularPage = false),
      (this.activeDeploy = false),
      (this.activHowTo = false),
      (this.activeDotNet = false);
    },
    OpenDeploy_Page() {
      (this.activeDeploy = true),
      (this.activeMongoDBPage = false),
      (this.activeVuePage = false),
      (this.activeSQLPage = false),
      (this.activeJavaScript = false),
      (this.activeAngularPage = false),
      (this.activHowTo = false),
      (this.activeDotNet = false);
    },
    OpenVueJS_Page() {
      (this.activeVuePage = true),
      (this.activeMongoDBPage = false),
      (this.activeSQLPage = false),
      (this.activeJavaScript = false),
      (this.activeAngularPage = false),
      (this.activeDeploy = false),
      (this.activHowTo = false),
      (this.activeDotNet = false);
    },
    HowTo_Page() {
      (this.activHowTo = true),
      (this.activeVuePage = false),
      (this.activeMongoDBPage = false),
      (this.activeSQLPage = false),
      (this.activeJavaScript = false),
      (this.activeAngularPage = false),
      (this.activeDeploy = false),
      (this.activeDotNet = false);
    },

    goingpage() {
      window.location.href = "/going";
    }
  }
};
</script>