<template>
  <div>
    <h4>How To</h4>
    <br />
    <div>
      <h4>Git</h4>
      <p>
        #1 How to show all branch in git.
        <br />git branch
        <br />#2 How to delete branch from git.
        <br />git branch -D brnachName
        <br />#3 How to switch branch.
        <br />git checkout branchName
      </p>
    </div>
  </div>
</template>
<script>
export default {
  methods: {}
};
</script>