<style>
p{
  background: aliceblue;  
  padding: 5px 0px 5px 10px;
}
</style>

<template>
  <div>
    <h5>JavaScript</h5> 
    <div> <b> Introduction to JavaScript </b>JavaScript, often abbreviated as JS, is a high-level, just-in-time compiled, object-oriented programming language that conforms to the ECMAScript specification. JavaScript has curly-bracket syntax, dynamic typing, prototype-based object-orientation, and first-class functions.</div>   
 <br/>
  
  <h4> How to  </h4>
    #	How to find name from two array.
  <p>
    Arr1 = [{name: ‘Prem’}, {name: ‘Mohit’}, {name: ‘Rahul’}, {name: ‘Scott’}] <br/>
    Arr2 = [‘Prem’ , ‘Rahul’] <br/>
    Const filterData = Arr1.filter(e=> Arr2.include (e.name)) <br/>
    console.log(filterData)
  </p>

  # 	How to reverse array 
  <p>
    Array ["one", "two", "three"]   = =    Array ["three", "two", "one"] <br/>
    const array1 = ['one', 'two', 'three']; <br/>
    const reversed = array1.reverse();
  </p>

  #	Get data based on greater than and less than date.
  <p>
    var fromdate = moment(this.startdate, 'MM-DD-YYYY'); <br/>
    var todate = moment(this.lastdate, 'MM-DD-YYYY');<br/>
    var mygtToday = new Date(fromdate.year(), fromdate.month(), fromdate.date(), 0, 0, 0);<br/>
    var mylessToday = new Date(todate.year(), todate.month(), todate.date(), 23, 59, 59);<br/>
    var getdata = await ithours_client.get('User', { created_date: { $gte:   mygtToday, $lte: mylessToday } })
  </p>

  # How to disable future date in js using html date
  <p>
    input type="date" name="date" id="date" required /> <br/> 

    validDate(){ <br/>
      var today = new Date().toISOString().split('T')[0]; <br/>
      var nextWeekDate = new Date(new Date().getTime() + 6 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] <br/>
      document.getElementsByName("date")[0].setAttribute('min', today); <br/>
      document.getElementsByName("date")[0].setAttribute('max', nextWeekDate) <br/>
    }
  </p>




  <b>Filter in Js</b><br/>
  <p>
    this.existingInterest = this.editInteresetList.filter(e=>{<br/>
       return e.users_selected_categories == 1}).map(e=>{return e.name}).toString();<br/>
  </p> 

  <b>Get id filter in 2 array</b><br/>
  <p>
      const getdata = this.fun.filter(e => { return (AssignedTo.findIndex(i => { return e.username == i }) >= 0) }).map(e => e._id)
  </p> 

  <b>Filter with idndexOf</b><br/>
    <p>
    const ispath = Array.from(this.Selectpath) <br/>
          const isdata = ispath.filter(e => e.name.indexOf('.png') >= 0 || e.name.indexOf('.jpeg') >= 0 || <br/>
          e.name.indexOf('.jpg') >= 0)<br/><br/>
    </p>

<b> Search Data </b>
<p>
  Tempcenters: any = []; <br/>
  centers: any = [];<br/>

 searchaData(event) {<br/>
    if (event.target.value) {<br/>
      this.centers = this.Tempcenters.filter(e => {<br/>
       return (e.centername || '').toLowerCase().indexOf(event.target.value.toLowerCase()) >= 0 <br/>
      || (e.block || '').toLowerCase().indexOf(event.target.value.toLowerCase()) >= 0 })<br/>
    } else {<br/>
      this.centers = this.Tempcenters<br/>
    }<br/>
  }<br/>
</p>


  <b>Call back</b><br/>
  <p> 
    function doHomework(subject, TestCallback) { <br/>
      alert(`Starting my ${subject} homework.`);<br/>
      TestCallback();<br/>
    }<br/><br/>

    TestCallback(){<br/>
          alert(`Hello TestCallback`);<br/>
    }<br/>

          
  </p>
<br/><br/>
<b>Use then in Js</b>
  <p><br/>

    async mounted() {<br/>
                  
       this.getArticles().then(result=>{<br/>
                console.log(result);        <br/>        
            })<br/>
},<br/>

<br/>
 async getArticles() {               <br/>
                return new Promise(async (resolve, reject) =>{<br/>
                var api_data = await executePostAPICall('home/article-of-list', formData); <br/>               
                    if(api_data){<br/>
                        resolve(api_data)<br/>
                    }<br/>
                    else{<br/>
                        reject("sdfjhnsdjkf")<br/>
                    }               <br/>
                })<br/>
            }, <br/>
<br/>

#Second method<br/>

 executePostAPICall('home/article-of-list', formData).then((api_data)=> {<br/>
                   console.log(api_data);<br/>
               });
 <br/>
                // var api_data = await executePostAPICall('home/article-of-list', formData);<br/>
                // this.allArticles = api_data.articles;<br/>
                // console.log(this.allArticles);<br/>
 
  </p>
  </div>  
</template>
<script>
export default {
    methods:{

    }
};
</script>