<template>
  <div>
    <h5>MongoDB</h5>
    <p>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schema. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License.</p>
  
  <p>//Insert Data<br/>
db.users.insert({<br/>
    name:"Vishu",<br/>
    Age:23<br/>
})<br/><br/>

//Insert Many data in one time<br/>
db.users.insertMany(<br/>
[<br/>
    {  <br/>
    name:"Vishu",<br/>
    Age:233<br/>
    },<br/>
    {<br/>
    name:"Vishu2",<br/>
    Age:231<br/>
    },<br/>
    {<br/>
    name:"Vishu3",<br/>
    Age:232<br/>
    },<br/>
    {<br/>
    name:"Vishu4",<br/>
    Age:233<br/>
    }<br/>
])<br/>
<br/>
//Select Command<br/>
db.users.find()<br/>
 
//Update <br/>
db.users.update({<br/>
"_id" : ObjectId("5d2f12894771f831c5338727")},<br/>
{<br/>
Name:"Sharma",<br/>
Age:"54"<br/>
})<br/><br/>

//Delete<br/>
db.users.deleteOne({"_id" : ObjectId("5d2f12b74771f831c5338728")})<br/><br/>

mongodb+srv://vish:'password'@vish-faw41.mongodb.net/test?retryWrites=true&w=majority<br/>
mongodb+srv://vish:32132131233@vish-faw41.mongodb.net/test?retryWrites=true&w=majority<br/>
</p>
  </div>  
</template>
<script>
export default {
    methods:{

    }
};
</script>