<template>
  <div>
    <h5>SQL</h5> 
    <p> <b> Introduction to SQL https://www.1keydata.com/sql/advanced.html </b>
      Structure Query Language(SQL) is a database query language used for storing and managing data in Relational DBMS. SQL was the first commercial language introduced for E.F Codd's Relational model of database. Today almost all RDBMS(MySql, Oracle, Infomix, Sybase, MS Access) use SQL as the standard database query language. SQL is used to perform all types of data operations in RDBMS.</p>   
  
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Join">Join</button>
      <div id="Join" style="margin-top: 15px;" class="collapse" >
            Create database vish <br/>
            create table emp(EmpId int ,EmpName varchar(50),Salary real)<br/>
            Create table emp2(EmpId int ,Address varchar(50),Project varchar(50),Session varchar(50) Dration varchar(50))<br/>
            use  vish<br/><br/>

            select * from emp<br/>
            select * from emp2<br/>

            --Inner join(selected fields from both the tables)<br/>

            select emp.EmpId, emp.EmpName , emp2.Salary from emp inner join emp2<br/> 
            on emp.EmpId = emp2.EmpId<br/><br/>

              ----------<br/><br/>
            Select Staff.Name,Staff.Address,Staff2.City  from Staff2<br/>
            inner join Staff<br/>
            on Staff.ID=Staff2.ID<br/><br/>

            --Table alise (as it is we can set the nick name for table )<br/>

            select e.EmpId, e.EmpName , e2.Salary from emp e inner join emp2 e2 <br/>
            on e.EmpId = e2.EmpId<br/><br/>

            --equi join(All fields from both tables)<br/>

            select * from emp inner join emp2 <br/>
            on emp.EmpId = emp2.EmpId<br/><br/>



            ********************************<br/>
            ************Outer Joins************<br/>
            --Outer joins<br/>
            
              --There are three type of Outer Joins<br/>
              -- Left | RIGHT | FULL<br/><br/>

            --Left Outer Join<br/><br/>
            
            select * from emp<br/>
            left outer join<br/>
            emp2 <br/>
            on emp.EmpId = emp2.EmpId <br/><br/>
            
            --Right Outer Join<br/>
            
              select * from emp<br/>
            right outer join<br/>
            emp2 <br/>
            on emp.EmpId = emp2.EmpId <br/><br/>
            
            --Full Outer Join<br/>
            
            select * from emp<br/>
            full outer join<br/>
            emp2 <br/>
            on emp.EmpId = emp2.EmpId <br/><br/>
             
            ********************<br/>
            *****Cross Joins******<br/><br/>
            
            --cross join<br/><br/>
            
            select * from emp<br/>
            cross join<br/>
              emp2 <br/><br/>
              

            *******Self Joins********<br/>
            **********************  <br/>
              --self join<br/>
              
              select * from emp e join emp e2<br/>
              on e.EmpId = e2.EmpId <br/> <br/> <br/>

      </div>
   
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Sub">Sub-Query</button>
      <div id="Sub" style="margin-top: 15px;" class="collapse" >
            --****************************************** <br/>
            --****************SUBQUERY******************<br/>
            --******************************************<br/><br/>
            --What is SubQuery  :-  When a select statement embaded into the another select statement is know is SubQuery.<br/>
            --Aggregate Funcation (Can be used SubQuery to generate aggregate values from the inner Query).<br/>
            --Type of Agreegate Fucation<br/><br/>
              
              --Max()<br/>
              --Min()<br/>
              --Avg()<br/>
              --Sum()<br/>
              --Count()<br/><br/>

            Select MAX(Salary) MaxSalary from emp<br/>
            Select MIN(Salary) from emp<br/>
            Select AVG(Salary) from emp<br/>
            Select SUM(Salary) from emp<br/>
            Select COUNT(Salary) from emp <br/><br/>

            --SubQuery emplemented by ( = , in , greater than any , >all )
              <br/>
            
            -- ( =  )<br/>
            Select * from emp where salary =(select MAX(salary) from emp)<br/><br/>

            --  IN (Generally 'IN' is userd for a Compare with one table(column) to another table(Column))<br/>
            Select * from emp2 where salary   in (select MAX(salary) from emp)<br/><br/>
           
            -- less than arrow Any<br/>
            "Select * from emp where salary less than arrow any (select MAX(salary) from emp) <br/><br/>

            -- greater than arrows Any<br/>
            Select * from emp where salary greater tahn arrow any (select MAX(salary) from emp)<br/><br/>


            --How to find Max salary in the table<br/>
            Select * from emp where salary =(select MAX(salary) from emp)<br/><br/>

            --How to find Min salary in the table<br/>
            Select * from emp where salary =(select MIN(salary) from emp)<br/><br/>

            --How to View Top Three Row in the table<br/>
            Select top 3 * from emp <br/><br/>

            --How to view Top Three Row in the table by (descending order)<br/>
            Select top 3 * from emp order by salary desc<br/><br/>

            --How to view Top Three Row in the table by (Ascending order)<br/>
            Select top 3 * from emp order by salary asc<br/><br/>

            --How to find salary from to <br/>
            select * from emp where salary  between 6000 and 9100<br/><br/>

            --How to find top second salary <br/>
            select top 1 * from (select top 2 * from emp order by salary desc) as abc order by salary asc<br/><br/>

            --How to find top Third salary <br/>
            select top 1 * from (select top 3 * from emp order by salary desc) as abc order by salary asc<br/><br/>

 
      </div>
  
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Union">Union</button>
        <div id="Union" style="margin-top: 15px;" class="collapse" >
           --******UNION******** <br/>
            --**********************<br/><br/>
            --Union<br/>
            --Intersect<br/>
            --Union all<br/><br/>

            --How to use Union (Union is eliminate the douplicate row on the both table)<br/>
            select * from emp <br/>
            union <br/>
            select * from signup<br/><br/>


            --Intersect (Intersect is find the Both table in common column values)<br/>
            select * from emp <br/>
            Intersect<br/>
            select * from signup<br/><br/>

            --Union All (Union all is find the all rows in the both table it is not eliminate the common column values)<br/>
            Select * from emp<br/>
            Union all<br/>
            select * from signup<br/><br/>


            --View in used Union <br/>
            create view vu <br/>
            as<br/>
            select * from emp <br/>
            union <br/>
            select * from signup <br/>
            --View vu<br/>
            select * from vu<br/><br/>

            --View used in Intersection<br/>
            create view vi<br/>
            as<br/>
            select * from emp <br/>
            Intersect<br/>
            select * from signup<br/><br/>

            --View used in Union all<br/>
            create view VUA<br/>
            as<br/>
            select * from emp <br/>
            Union all<br/>
            select * from signup<br/><br/>
 

        </div>
  
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#View">View</button>
        <div id="View" style="margin-top: 15px;" class="collapse" >
              --*******View ******* <br/>
              *********************<br/><br/>

              --How to create view <br/>
              create view v1<br/>
              as<br/>
              select * from emp<br/><br/>

              --How to view v1<br/>
              select * from v1<br/><br/>

              --How to drop view<br/>
              drop view v1<br/><br/>
              
              --Encrypt<br/>
              alter view v1 with encryption as<br/>
              select * from emp<br/>
              --How to check encrypt<br/>
              sp_helptext v1<br/><br/>

              --How to use Subquery in view<br/>
              create view v3 as<br/>
              select top 1 * from (select top 2 * from emp order by salary desc)as abc order by salary asc<br/>

              select * from v3<br/><br/>


              --How to insert through by view <br/>

              insert into v2 values('Vikash',8989,'Delhi')<br/><br/>

              --How to update through by View<br/>

              Update v5 set EmpName='Vish',EmpId=8090,EmpSalary =34345 where empId=1<br/><br/>

              --How to delete through by View <br/>

              Delete from v4 where EmpId =9<br/><br/>

        </div>
 
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Trigger">Trigger</button>
        <div id="Trigger" style="margin-top: 15px;" class="collapse" >             
            create triggers trg <br/>
            on college or insert ,update<br/>
            as<br/>
            declare<br/>
            @a varchar(50),@b image ,@c Date<br/>
            begin<br/>
            begin transaction<br/>
            select @a=inserted.name,@b=inserted.image,@c=inserted.date from inserted<br/>
            update college2 set name=@a,image=@b,date=@c where Si_No=1<br/>
            commit transction<br/>
            end<br/><br/>

            ---------------

            create trigger trg<br/>
            on Examlog for insert ,update<br/>
            as<br/>
            declare<br/>
            @a varchar(50),@b varchar(50),@c varchar(50),@d varchar(50),@e date<br/>
            begin<br/>
            begin transaction<br/>
            select @a=inserted.Total_Question,@b=inserted.time,  @c=inserted.Question_From ,@d=inserted.question_To,@e=inserted.date from inserted<br/>
            update ExamSchedule  set Total_Question=@a,Time=@b,Question_From =@c,Question_To=@d,Date=@e where Si_No=1<br/>
            commit transaction<br/>
            end<br/><br/>


            ---Today<br/>

            create trigger trg <br/>
            on emp for insert<br/>
            as<br/>
            declare @a int ,@b varchar(50),@c real<br/>
            begin <br/>
            begin transaction <br/>
            select  @a=inserted.EmpId,@b=inserted.EmpName,@c=inserted.Salary from inserted<br/>
            insert into emp2 values(@b,@c)<br/>
            end <br/><br/>
        </div>

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Proc">Procedure</button>
        <div id="Proc" style="margin-top: 15px;" class="collapse" >
            <!--  ********HOW TO CREATE PROCEDURE **********
             *****************************************
            create porocedure insdemo
            as
            begin
            select * from emp
            end


            --How to create impliment Condition

            create procedure insdemo (@id int)
            as
            begin
            declare @s real
            select @s =emp.empSalary from emp where empId=@id
            if(@s<6000)
            print 'lowest Salary'
            if(@s>6000 and @s<10000)
            print 'middle salary '
            else 
            print 'Heighest slary '
            end


            --How to modify procedure 

            alter procedure insdemo (@ id int )
            as
            begin
            declare @s real
            select @s =emp.Salary from emp where empId=@id
            if(@s<6000)
            print 'lowest salary :'+convert(varchar(50),@s)
            else if(@s>6000 and @s<10000)
            print 'Middle Salary :"+convert(varchar(50),@s)
            else 
            print 'Highest Salary :'+convert (varchar(50),@s)
            end


            --How to use loop

            create procedure insdemo
            as
            declare @a int 
            set @a=1
            while(@a<=10)
            begin
            print @a
            set @a=@a+1
            end

            --How use alter

            alter procedure insdemo  (@n int )
            as
            declare @a int
            set @a=1
            while (@a<=@n)
            begin
            print @a 
            set @a =@a+1
            end
            insdemo 20



            --Insert through procedure 

            create procedeure insdemo(@a int ,@b varchar (50),@c real)
            as
            begin
            insert into emp values(@a,@b,@c)
            if (@@Rowcount>0)
            print 'Row is inserted successfull'
            else
            print 'Sorry ! Try again'
            end

            insdemo 123,'Sonu', 23444
            select * from emp 



            --How to delete data 

            create procedure deldemo(@a int )
            as
            begin
            delete from emp where empid=@id
            if (@@Rowcount >0)
            print 'Delete Data Success'
            else 
            end

            --delete data by
            deldemo 112



            --How to upData  Name   by Procedure  ("BackEnd")

            create procedure updatedata (@id int )
            as
            begin
            update emp set empname='Vishwajeet',where empid=@id
            if (@@Rowcount>0)
            print 'Update Successfull'
            else
            print 'Sorry ! Try Again'
            end

            --update data b
            updatedata 112



            --How to updateData  Name   by Procedure  ("FronEnd")

            create procedure updatedata (@id int ,@b varchar(50),@c varchar(50) )
            as
            begin
            update emp set empname=@b ,Address=@b where empid=@id
            if (@@Rowcount>0)
            print 'Update Successfull'
            else
            print 'Sorry ! Try Again'
            end


            --How to upData Salary

            create procedure insdemo (@id int)
            as
            begin
            update emp set empsalary =111 where empid=@id
            if (@@Rowcount >0)
            print 'Salary Update Success'
            else
            print 'Sorry ! Try Again'
            end

            insdemo 233

            ***************************

              create procedure Updateitems (@a int,@b varchar(50),@c varchar(50),@d varchar(50) ,@e real,@f real,@g  varchar(150)  ,@h varchar(100))
              as
              begin
              update items set ItemID=@b,IName=@c,CompanyName=@d,MRP=@e,LowestPrice=  @f,IDescription=@g,Image= @h  where Id=@a
              if(@@ROWCOUNT >0)
              print 'One record is Updated successfull'
              else 
              print 'Sorry try again'
              end-->

        </div>
 
  </div>  
</template>

<script>
export default {
 
  data(){
    return{
     
    }
  },
  created(){
     
  },
  methods:{
    
  }
};
</script>