<template>
  <div>
    <h5>VueJS</h5>  
    <p>Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.

    If you’d like to learn more about Vue before diving in, we created a video walking through the core principles and a sample project.

    If you are an experienced frontend developer and want to know how Vue compares to other libraries/frameworks, check out the Comparison with Other Frameworks.</p>  
      
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#component">component</button>
      <div id="component" style="margin-top: 15px;" class="collapse" >
             A computed property is used to declaratively describe a value that depends on other values. When you data-bind to a computed property inside the template, Vue knows when to update the DOM when any of the values depended upon by the computed property has changed.
          <br/><br/>
          <b>How to call component in pages</b> <br/><br/>
          <p>

            <b>In template</b><br/>
            Wherever do you want use this page you can put under template as e.g<br/><br/>
            template><br/>
                app-TestPage> /app-TestPage> <br/>
            /template><br/><br/>

            <b>In Script </b><br/>
              import TestPage from "./TestPage";<br/>
              export default {<br/>
                components: {<br/>
                  "app-TestPage": TestPage,<br/>
                },<br/><br/>
                data(){<br/>
                    return{<br/>
                      name: "app",<br/>
                    }<br/>
                },<br/>
                methods: {<br/>

                }<br/>
              };<br/>
          </p>
      
      </div><br/>
  
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Methods">Methods</button>
      <div id="Methods" style="margin-top: 15px;" class="collapse" >
        They’re functions that hang off of an object—typically the Vue instance itself or a Vue component. We’re hanging a function off of an object <br/><br/>
        <b>
          methods: {<br/>
             Open_Page(){<br/>
           your code<br/>
           },<br/>
          },<br/>
        </b>

      </div><br/>
  
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Watcher">Watcher</button>
      <div id="Watcher" style="margin-top: 15px;" class="collapse" >
            A Vue watcher allows you to listen to the component data and run whenever a particular property changes
            A watcher is a special Vue.js feature that allows you to spy on one property of the component state, and run a function when that property value changes.<br/><br/>

            watch: {<br/>
                name: function() {<br/>
                  console.log(this.name)<br/>
                }<br/>
              }<br/><br/>

      </div><br/>

   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Routing">Routing</button>
    <div id="Routing" style="margin-top: 15px;" class="collapse" >
         <p>  Routing is one of those methods. It allows the user to switch between pages without refreshing the page</p>
        <h3>
          How to Routing in VueJS
        </h3><br/>
        <p>
            <b> Write in route.js</b><br/><br/>
            import Home from "./components/Home.vue"; <br/>
            import VueJs from "./components/VueJs.vue";<br/><br/>
            
            export default [<br/>
              {<br/>
                  path: '',<br/>
                  component: Home,<br/>
                  meta: {<br/>
                      auth: true,<br/>
                      title: 'Vish-Home'<br/>
                  }<br/>
              },{<br/>
                  path: '/VueJs',<br/>
                  component: VueJs,<br/>
                  meta: {<br/>
                      auth: true,<br/>
                      title: 'Vish-VueJs'<br/>
                  }<br/>
              },<br/>
            ];<br/><br/>

              <b> Import in main.js</b><br/><br/>
            import Vue from "vue";<br/>
            import App from "./App.vue";<br/>
            import route from './route';<br/>
            import VueRouter from 'vue-router';<br/><br/>

            Vue.config.productionTip = false;<br/>
            Vue.use(VueRouter);<br/><br/>

            const router = new VueRouter({<br/>
                routes: route,<br/>
                mode: 'history',<br/>
                path: '*',<br/>
                redirect: '/'<br/>
            });<br/><br/>

            new Vue({<br/>
                el: '#app',<br/>
                router,<br/>
                render: h => h(App)<br/>
            });<br/><br/>
        </p>

        <h3>
          How to get current URL
        </h3><br/>
        <p>
          this.$route.fullPath<br/>
          <b>If you will match your URL</b><br/>
          this.$route.path=="/Webinfo/1"<br/>
        </p>
    </div>


  </div>  
</template>
<script>
export default {
    methods:{

    }
};
</script>