<template> 
 
 <div id="appframe" >  
      <router-view></router-view>
  </div>
</template>
  
<script> 

export default {
		data() {
			return {
			}
		},
  async  created() {
  },
    watch: {
      '$route' (to) {
        document.title = to.meta.title || 'k4me'
      }
    },
  methods : {
    
  }
};
</script>
     